<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto de 4</title>
  <script src="https://kit.fontawesome.com/e15e8c34af.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" href="">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> 
  
  <link rel="stylesheet" href="css/estilo.css">

  <!-- 
  <script src="dist/sweetalert.min.js"></script>
  <link rel="stylesheet" type="text/css" href="dist/sweetalert.css">
  -->
  
</head>

<body>
  <header id="idheader">
  </header>
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <div class="aside">
        <p>"Proyecto de 4 es una experiencia unica que solo puedes vivirla en cada lugar de nuestra Argentina."</p>
        <p>"Proyecto de 4 es una experiencia unica que solo puedes vivirla en cada lugar de nuestra Argentina."</p>
        <p>"Proyecto de 4 es una experiencia unica que solo puedes vivirla en cada lugar de nuestra Argentina."</p>
        
      </div>
    </div>
    <div class="col-md-8 col-sm-10"  id="app">
      <div id="idcarousel" class="carousel slide" data-ride="carousel">
        <!-- un indicador por cada imagenes -->
        <ul class="carousel-indicators"  >
          <li data-target="#demo" :data-bs-slide-to="i" :class="i==0?'active':''"  v-for="(producto,i) in productos"    ></li>
        </ul>
    
        <!-- The slideshow -->
        <div class="carousel-inner"    >
          <div class="carousel-item"  v-for="(producto,i) in productos "   :class="i==0?'active':''"   >
            <img :src="producto.pic" style="width: 40%; " >
            <div class="carousel-caption" style="color: black;">
              <h4>Nombre: {{producto.nombre}}</h4>
              <p>$ {{producto.precio}}</p>
            </div>
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"   ></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <span class="carousel-control-next-icon"   ></span>
        </a>


      </div>
    </div>
    <div class="col-md-2 col-sm-3">
      <div class="aside">
        <p>"En este sitio web vas a encontrar una experiencia diferente."</p>
      </div>
    </div>
    <div class="col-md-12 col-sm-12">



      

      <br><br><br><br><br>
    </div>
  </div>

  <footer id="idfooter">
  </footer>

  <script src="./js/index.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>

<!--
<body>
    <main>
        <div class="container" id="app">
            <h1>Productos</h1>
            <section v-if="errored">
             <p>Lo sentimos, no es posible obtener la información en este momento, por favor intente nuevamente mas tarde</p>
            </section>
            <section v-else>
                <div v-if="loading">Cargando....
                    <div class="spinner-border" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <div v-else>
                    <a href="create.html" class="btn btn-success">Nuevo</a>
                    <br><br>
                    <table class="table table-striped table-responsive">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Pic</th>
                        </tr>
                        <tr v-for="producto in productos">
                            <td>{{producto.id}}</td>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.precio}}</td>
                            <td>{{producto.stock}}</td>
                            <td>{{producto.pic}}</td>
                            <td>
                                <a :href="'update.html?id='+producto.id+'&nombre='+producto.nombre+'&precio='+producto.precio+'&stock='+producto.stock+'&pic='+producto.pic" class="btn btn-primary">Modificar</a>
                                <button v-on:click="eliminar(producto.id)" class="btn btn-danger">Eliminar</button>
                            </td>
                        </tr>
                    </table>
            </section>
        </div>
    </main>
    <script src="./js/index.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>
-->